:root {

    /*
        Case-Sensitive! Call these like: background-color: var(--DT-Light-Mode-Brand-Primary); 
    */
    --DT-Light-Mode-Brand-Primary: var(--DT-__primitive-Basic-Black);
    --DT-Light-Mode-Brand-Secondary: var(--DT-__primitive-Basic-White);
    --DT-Light-Mode-Focus-Focus: var(--DT-__primitive-Basic-Accessibility-Blue);
    --DT-Light-Mode-Neutral-Fill: var(--DT-__primitive-Slate-10);
    --DT-Light-Mode-Neutral-Hover: var(--DT-__primitive-Slate-30);
    --DT-Light-Mode-Neutral-Line: var(--DT-__primitive-Slate-40);
    --DT-Light-Mode-Neutral-Text: var(--DT-__primitive-Slate-70);
    --DT-Light-Mode-Accent-primary: var(--DT-__primitive-Cobalt-50);
    --DT-Light-Mode-Accent-secondary: var(--DT-__primitive-Cobalt-20);
    --DT-Light-Mode-Disabled-brand-primary: var(--DT-__primitive-Basic-Disabled-Grey);
    --DT-Light-Mode-Disabled-brand-secondary: var(--DT-__primitive-Slate-10);
    --DT-Light-Mode-Disabled-grey-2: var(--DT-__primitive-Slate-10);
    --DT-Light-Mode-Disabled-grey-3: var(--DT-__primitive-Slate-30);
    --DT-Light-Mode-Disabled-grey-text: var(--DT-__primitive-Slate-30);
    --DT-Light-Mode-Disabled-accent-primary: var(--DT-__primitive-Cobalt-20);
    --DT-Light-Mode-Warning-primary: var(--DT-__primitive-Saffron-50);
    --DT-Light-Mode-Warning-secondary: var(--DT-__primitive-Saffron-20);
    --DT-Light-Mode-Error-primary: var(--DT-__primitive-Crimson-50);
    --DT-Light-Mode-Error-secondary: var(--DT-__primitive-Crimson-20);
    --DT-Light-Mode-Success-primary: var(--DT-__primitive-Emerald-50);
    --DT-Light-Mode-Success-secondary: var(--DT-__primitive-Emerald-20);
    --DT-Light-Mode-Info-primary: var(--DT-__primitive-Cobalt-50);
    --DT-Light-Mode-Info-secondary: var(--DT-__primitive-Cobalt-20);
    --DT-Light-Mode-Charting-1: var(--DT-__primitive-Avocado-50);
    --DT-Light-Mode-Charting-2: var(--DT-__primitive-Emerald-50);
    --DT-Light-Mode-Charting-3: var(--DT-__primitive-Taupe-50);
    --DT-Light-Mode-Charting-4: var(--DT-__primitive-Slate-50);
    --DT-Light-Mode-Charting-5: var(--DT-__primitive-Cobalt-50);
    --DT-Light-Mode-Charting-6: var(--DT-__primitive-Chartreuse-50);
    --DT-Light-Mode-Charting-7: var(--DT-__primitive-Avocado-20);
    --DT-Light-Mode-Charting-8: var(--DT-__primitive-Emerald-20);
    --DT-Light-Mode-Charting-9: var(--DT-__primitive-Taupe-20);
    --DT-Light-Mode-Charting-10: var(--DT-__primitive-Slate-20);
    --DT-Light-Mode-Charting-11: var(--DT-__primitive-Cobalt-20);
    --DT-Light-Mode-Charting-12: var(--DT-__primitive-Chartreuse-20);
    --DT-Light-Mode-text-title-large-primary-size: var(--DT-__primitive-Font-size-xl);
    --DT-Light-Mode-text-title-large-primary-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Light-Mode-text-title-large-primary-typeface: var(--DT-__primitive-Font-font-family-serif);
    --DT-Light-Mode-text-title-large-secondary-size: var(--DT-__primitive-Font-size-xl);
    --DT-Light-Mode-text-title-large-secondary-weight: var(--DT-__primitive-Font-weight-medium);
    --DT-Light-Mode-text-title-large-secondary-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-title-primary-size: var(--DT-__primitive-Font-size-l);
    --DT-Light-Mode-text-title-primary-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Light-Mode-text-title-primary-typeface: var(--DT-__primitive-Font-font-family-serif);
    --DT-Light-Mode-text-title-secondary-size: var(--DT-__primitive-Font-size-l);
    --DT-Light-Mode-text-title-secondary-weight: var(--DT-__primitive-Font-weight-medium);
    --DT-Light-Mode-text-title-secondary-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-headline-primary-size: var(--DT-__primitive-Font-size-m);
    --DT-Light-Mode-text-headline-primary-weight: var(--DT-__primitive-Font-weight-medium);
    --DT-Light-Mode-text-headline-primary-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-headline-secondary-size: var(--DT-__primitive-Font-size-s);
    --DT-Light-Mode-text-headline-secondary-weight: var(--DT-__primitive-Font-weight-medium);
    --DT-Light-Mode-text-headline-secondary-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-callout-primary-size: var(--DT-__primitive-Font-size-xxl);
    --DT-Light-Mode-text-callout-primary-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Light-Mode-text-callout-primary-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-subheading-primary-size: var(--DT-__primitive-Font-size-s);
    --DT-Light-Mode-text-subheading-primary-weight: var(--DT-__primitive-Font-weight-medium);
    --DT-Light-Mode-text-subheading-primary-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-subheading-primary-transformation: var(--DT-__primitive-Font-transformation-uppercase);
    --DT-Light-Mode-text-body-large-regular-size: var(--DT-__primitive-Font-size-m);
    --DT-Light-Mode-text-body-large-regular-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Light-Mode-text-body-large-regular-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-body-large-light-size: var(--DT-__primitive-Font-size-m);
    --DT-Light-Mode-text-body-large-light-weight: var(--DT-__primitive-Font-weight-light);
    --DT-Light-Mode-text-body-large-light-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-body-regular-size: var(--DT-__primitive-Font-size-s);
    --DT-Light-Mode-text-body-regular-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Light-Mode-text-body-regular-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-body-light-size: var(--DT-__primitive-Font-size-s);
    --DT-Light-Mode-text-body-light-weight: var(--DT-__primitive-Font-weight-light);
    --DT-Light-Mode-text-body-light-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-body-small-regular-size: var(--DT-__primitive-Font-size-xs);
    --DT-Light-Mode-text-body-small-regular-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Light-Mode-text-body-small-regular-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-body-small-light-size: var(--DT-__primitive-Font-size-xs);
    --DT-Light-Mode-text-body-small-light-weight: var(--DT-__primitive-Font-weight-light);
    --DT-Light-Mode-text-body-small-light-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-data-grid-regular-size: var(--DT-__primitive-Font-size-s);
    --DT-Light-Mode-text-data-grid-regular-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Light-Mode-text-data-grid-regular-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-data-grid-light-size: var(--DT-__primitive-Font-size-s);
    --DT-Light-Mode-text-data-grid-light-weight: var(--DT-__primitive-Font-weight-light);
    --DT-Light-Mode-text-data-grid-light-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-data-grid-small-regular-size: var(--DT-__primitive-Font-size-xs);
    --DT-Light-Mode-text-data-grid-small-regular-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Light-Mode-text-data-grid-small-regular-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Light-Mode-text-data-grid-small-light-size: var(--DT-__primitive-Font-size-xs);
    --DT-Light-Mode-text-data-grid-small-light-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Light-Mode-text-data-grid-small-light-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-Brand-Primary: var(--DT-__primitive-Basic-White);
    --DT-Dark-Mode-Brand-Secondary: var(--DT-__primitive-Basic-Black);
    --DT-Dark-Mode-Focus-Focus: var(--DT-__primitive-Basic-Accessibility-Blue);
    --DT-Dark-Mode-Neutral-Fill: var(--DT-__primitive-Slate-10);
    --DT-Dark-Mode-Neutral-Hover: var(--DT-__primitive-Slate-30);
    --DT-Dark-Mode-Neutral-Line: var(--DT-__primitive-Slate-40);
    --DT-Dark-Mode-Neutral-Text: var(--DT-__primitive-Slate-70);
    --DT-Dark-Mode-Accent-primary: var(--DT-__primitive-Cobalt-50);
    --DT-Dark-Mode-Accent-secondary: var(--DT-__primitive-Cobalt-20);
    --DT-Dark-Mode-Disabled-brand-primary: var(--DT-__primitive-Basic-Disabled-Grey);
    --DT-Dark-Mode-Disabled-brand-secondary: var(--DT-__primitive-Slate-10);
    --DT-Dark-Mode-Disabled-grey-2: var(--DT-__primitive-Slate-10);
    --DT-Dark-Mode-Disabled-grey-3: var(--DT-__primitive-Slate-30);
    --DT-Dark-Mode-Disabled-grey-text: var(--DT-__primitive-Slate-30);
    --DT-Dark-Mode-Disabled-accent-primary: var(--DT-__primitive-Cobalt-20);
    --DT-Dark-Mode-Warning-primary: var(--DT-__primitive-Saffron-50);
    --DT-Dark-Mode-Warning-secondary: var(--DT-__primitive-Saffron-20);
    --DT-Dark-Mode-Error-primary: var(--DT-__primitive-Crimson-50);
    --DT-Dark-Mode-Error-secondary: var(--DT-__primitive-Crimson-20);
    --DT-Dark-Mode-Success-primary: var(--DT-__primitive-Emerald-50);
    --DT-Dark-Mode-Success-secondary: var(--DT-__primitive-Emerald-20);
    --DT-Dark-Mode-Info-primary: var(--DT-__primitive-Cobalt-50);
    --DT-Dark-Mode-Info-secondary: var(--DT-__primitive-Cobalt-20);
    --DT-Dark-Mode-Charting-1: var(--DT-__primitive-Avocado-50);
    --DT-Dark-Mode-Charting-2: var(--DT-__primitive-Emerald-50);
    --DT-Dark-Mode-Charting-3: var(--DT-__primitive-Taupe-50);
    --DT-Dark-Mode-Charting-4: var(--DT-__primitive-Slate-50);
    --DT-Dark-Mode-Charting-5: var(--DT-__primitive-Cobalt-50);
    --DT-Dark-Mode-Charting-6: var(--DT-__primitive-Chartreuse-50);
    --DT-Dark-Mode-Charting-7: var(--DT-__primitive-Avocado-20);
    --DT-Dark-Mode-Charting-8: var(--DT-__primitive-Emerald-20);
    --DT-Dark-Mode-Charting-9: var(--DT-__primitive-Taupe-20);
    --DT-Dark-Mode-Charting-10: var(--DT-__primitive-Slate-20);
    --DT-Dark-Mode-Charting-11: var(--DT-__primitive-Cobalt-20);
    --DT-Dark-Mode-Charting-12: var(--DT-__primitive-Chartreuse-20);
    --DT-Dark-Mode-text-title-large-primary-size: var(--DT-__primitive-Font-size-xl);
    --DT-Dark-Mode-text-title-large-primary-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Dark-Mode-text-title-large-primary-typeface: var(--DT-__primitive-Font-font-family-serif);
    --DT-Dark-Mode-text-title-large-secondary-size: var(--DT-__primitive-Font-size-xl);
    --DT-Dark-Mode-text-title-large-secondary-weight: var(--DT-__primitive-Font-weight-medium);
    --DT-Dark-Mode-text-title-large-secondary-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-title-primary-size: var(--DT-__primitive-Font-size-l);
    --DT-Dark-Mode-text-title-primary-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Dark-Mode-text-title-primary-typeface: var(--DT-__primitive-Font-font-family-serif);
    --DT-Dark-Mode-text-title-secondary-size: var(--DT-__primitive-Font-size-l);
    --DT-Dark-Mode-text-title-secondary-weight: var(--DT-__primitive-Font-weight-medium);
    --DT-Dark-Mode-text-title-secondary-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-headline-primary-size: var(--DT-__primitive-Font-size-m);
    --DT-Dark-Mode-text-headline-primary-weight: var(--DT-__primitive-Font-weight-medium);
    --DT-Dark-Mode-text-headline-primary-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-headline-secondary-size: var(--DT-__primitive-Font-size-s);
    --DT-Dark-Mode-text-headline-secondary-weight: var(--DT-__primitive-Font-weight-medium);
    --DT-Dark-Mode-text-headline-secondary-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-callout-primary-size: var(--DT-__primitive-Font-size-xxl);
    --DT-Dark-Mode-text-callout-primary-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Dark-Mode-text-callout-primary-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-subheading-primary-size: var(--DT-__primitive-Font-size-s);
    --DT-Dark-Mode-text-subheading-primary-weight: var(--DT-__primitive-Font-weight-medium);
    --DT-Dark-Mode-text-subheading-primary-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-subheading-primary-transformation: var(--DT-__primitive-Font-transformation-uppercase);
    --DT-Dark-Mode-text-body-large-regular-size: var(--DT-__primitive-Font-size-m);
    --DT-Dark-Mode-text-body-large-regular-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Dark-Mode-text-body-large-regular-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-body-large-light-size: var(--DT-__primitive-Font-size-m);
    --DT-Dark-Mode-text-body-large-light-weight: var(--DT-__primitive-Font-weight-light);
    --DT-Dark-Mode-text-body-large-light-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-body-regular-size: var(--DT-__primitive-Font-size-s);
    --DT-Dark-Mode-text-body-regular-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Dark-Mode-text-body-regular-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-body-light-size: var(--DT-__primitive-Font-size-s);
    --DT-Dark-Mode-text-body-light-weight: var(--DT-__primitive-Font-weight-light);
    --DT-Dark-Mode-text-body-light-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-body-small-regular-size: var(--DT-__primitive-Font-size-xs);
    --DT-Dark-Mode-text-body-small-regular-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Dark-Mode-text-body-small-regular-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-body-small-light-size: var(--DT-__primitive-Font-size-xs);
    --DT-Dark-Mode-text-body-small-light-weight: var(--DT-__primitive-Font-weight-light);
    --DT-Dark-Mode-text-body-small-light-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-data-grid-regular-size: var(--DT-__primitive-Font-size-s);
    --DT-Dark-Mode-text-data-grid-regular-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Dark-Mode-text-data-grid-regular-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-data-grid-light-size: var(--DT-__primitive-Font-size-s);
    --DT-Dark-Mode-text-data-grid-light-weight: var(--DT-__primitive-Font-weight-light);
    --DT-Dark-Mode-text-data-grid-light-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-data-grid-small-regular-size: var(--DT-__primitive-Font-size-xs);
    --DT-Dark-Mode-text-data-grid-small-regular-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Dark-Mode-text-data-grid-small-regular-typeface: var(--DT-__primitive-Font-font-family-sans-serif);
    --DT-Dark-Mode-text-data-grid-small-light-size: var(--DT-__primitive-Font-size-xs);
    --DT-Dark-Mode-text-data-grid-small-light-weight: var(--DT-__primitive-Font-weight-regular);
    --DT-Dark-Mode-text-data-grid-small-light-typeface: var(--DT-__primitive-Font-font-family-sans-serif);

    /*
        Don't use these! Use a property from above instead. If you absolutely have to use one of these, please discuss with the UX team so they can update their designs.
        To temporarily unblock yourself, you could call one of these like var(--DT-__primitive-Cobalt-70);
    */
    --DT-__primitive-Basic-White: #FFFFFF;
    --DT-__primitive-Basic-Black: #000000;
    --DT-__primitive-Basic-Disabled-Grey: #9E9E9E;
    --DT-__primitive-Basic-Accessibility-Blue: #85D6FF;
    --DT-__primitive-Taupe-10: #F3EBE4;
    --DT-__primitive-Taupe-20: #E7D8C9;
    --DT-__primitive-Taupe-30: #DBC4AE;
    --DT-__primitive-Taupe-40: #CFB193;
    --DT-__primitive-Taupe-50: #C39D78;
    --DT-__primitive-Taupe-60: #9C7E60;
    --DT-__primitive-Taupe-70: #755E48;
    --DT-__primitive-Taupe-80: #4E3F30;
    --DT-__primitive-Taupe-90: #271F18;
    --DT-__primitive-Chartreuse-10: #EDF5D3;
    --DT-__primitive-Chartreuse-20: #DBEBA7;
    --DT-__primitive-Chartreuse-30: #C9E17C;
    --DT-__primitive-Chartreuse-40: #B7D750;
    --DT-__primitive-Chartreuse-50: #A5CD24;
    --DT-__primitive-Chartreuse-60: #84A41D;
    --DT-__primitive-Chartreuse-70: #637B16;
    --DT-__primitive-Chartreuse-80: #42520E;
    --DT-__primitive-Chartreuse-90: #212907;
    --DT-__primitive-Cobalt-10: #CCE0E9;
    --DT-__primitive-Cobalt-20: #99C1D3;
    --DT-__primitive-Cobalt-30: #66A2BE;
    --DT-__primitive-Cobalt-40: #3383A8;
    --DT-__primitive-Cobalt-50: #006492;
    --DT-__primitive-Cobalt-60: #005075;
    --DT-__primitive-Cobalt-70: #003C58;
    --DT-__primitive-Cobalt-80: #00283A;
    --DT-__primitive-Cobalt-90: #00141D;
    --DT-__primitive-Slate-10: #F4F5F7;
    --DT-__primitive-Slate-20: #EAEBEF;
    --DT-__primitive-Slate-30: #DFE2E7;
    --DT-__primitive-Slate-40: #D5D8DF;
    --DT-__primitive-Slate-50: #CACED7;
    --DT-__primitive-Slate-60: #A2A5AC;
    --DT-__primitive-Slate-70: #797C81;
    --DT-__primitive-Slate-80: #515256;
    --DT-__primitive-Slate-90: #28292B;
    --DT-__primitive-Emerald-10: #D1DFDE;
    --DT-__primitive-Emerald-20: #A4BFBE;
    --DT-__primitive-Emerald-30: #769E9D;
    --DT-__primitive-Emerald-40: #497E7D;
    --DT-__primitive-Emerald-50: #1B5E5C;
    --DT-__primitive-Emerald-60: #164B4A;
    --DT-__primitive-Emerald-70: #103837;
    --DT-__primitive-Emerald-80: #0B2625;
    --DT-__primitive-Emerald-90: #051312;
    --DT-__primitive-Crimson-10: #F3D5D4;
    --DT-__primitive-Crimson-20: #E6ABA9;
    --DT-__primitive-Crimson-30: #DA817D;
    --DT-__primitive-Crimson-40: #CD5752;
    --DT-__primitive-Crimson-50: #C12D27;
    --DT-__primitive-Crimson-60: #9A241F;
    --DT-__primitive-Crimson-70: #741B17;
    --DT-__primitive-Crimson-80: #4D1210;
    --DT-__primitive-Crimson-90: #270908;
    --DT-__primitive-Avocado-10: #DBECE8;
    --DT-__primitive-Avocado-20: #B7D9D1;
    --DT-__primitive-Avocado-30: #94C5B9;
    --DT-__primitive-Avocado-40: #70B2A2;
    --DT-__primitive-Avocado-50: #4C9F8B;
    --DT-__primitive-Avocado-60: #3D7F6F;
    --DT-__primitive-Avocado-70: #2E5F53;
    --DT-__primitive-Avocado-80: #1E4038;
    --DT-__primitive-Avocado-90: #0F201C;
    --DT-__primitive-Saffron-10: #FCF3D1;
    --DT-__primitive-Saffron-20: #F9E7A4;
    --DT-__primitive-Saffron-30: #F7DA76;
    --DT-__primitive-Saffron-40: #F4CE49;
    --DT-__primitive-Saffron-50: #F1C21B;
    --DT-__primitive-Saffron-60: #C19B16;
    --DT-__primitive-Saffron-70: #917410;
    --DT-__primitive-Saffron-80: #604E0B;
    --DT-__primitive-Saffron-90: #302705;
    --DT-__primitive-Font-font-family-serif: "Sanomat", serif;
    --DT-__primitive-Font-font-family-sans-serif: "Guardian Sans", sans-serif;
    --DT-__primitive-Font-transformation-uppercase: uppercase;
    --DT-__primitive-Font-weight-light: 300;
    --DT-__primitive-Font-weight-regular: 400;
    --DT-__primitive-Font-weight-medium: 500;
    --DT-__primitive-Font-size-xs: 12px;
    --DT-__primitive-Font-size-s: 14px;
    --DT-__primitive-Font-size-m: 16px;
    --DT-__primitive-Font-size-l: 18px;
    --DT-__primitive-Font-size-xl: 24px;
    --DT-__primitive-Font-size-xxl: 32px;
}